:root {
  --hover-color: #4db2ec;
  --border-color: #e0e0e0;
  --bg-hover-gray-color: #4f4f4f;
  --white-color: #fff;
  --black-color: #000;
  --red-color: #eb5757;
  --border-nav-menu: #828282;
  --black-222: #222;
  --black-333: #333;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "mr";
  font-size: 17px;
  line-height: 27px;
  font-weight: 400;
  color: #222222;
  background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}


